            .content
                .row
                    h2
                        a(name='edu') EDUCATION
                    .col-md-6.col-sm-6.col-xs-12
                        h3 Tufts University
                        p
                            | Medford, MA
                            br
                            |                   Class of 2018
                            br
                            |                   B.A. French
                            br
                            |                   B.A. Computer Science
                            br
                    .col-md-6.col-sm-6.col-xs-12
                        h3
                            | Friends Seminary
                            br
                            | High School
                        p
                            | New York, NY
                            br
                            |                   Class of 2014
                .row
                    h2
                        a(name='langs') LANGUAGES
                    .col-md-4.col-sm-4.col-xs-12
                        h3 Human languages
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:100%')
                                | French
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100', style='width:65%')
                                | Spanish
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
                                | Latin
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:40%')
                                | Attic
                    .col-md-8.col-sm-8.col-xs-12
                        h3 Machine languages
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width:95%')
                                | C
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width:95%')
                                | Javascript
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%')
                                | C++
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100', style='width:85%')
                                | Python
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width:80%')
                                | Standard ML
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width:80%')
                                | HTML & CSS
                        .progress
                            .progress-bar.progress-bar-custom(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width:60%')
                                | x86
                .row
                    h2
                        a(name='exp') PROFESSIONAL EXPERIENCE
                    .col-md-6.col-sm-6.col-xs-12
                        h3 Tamper Cafe
                        p
                            | Barista
                            br
                            |                   Director of training
                            br
                    .col-md-6.col-sm-6.col-xs-12
                        h3 Nine Bar Espresso
                        p
                            | Barista

